body{
  font-family: "Graphik", "Helvetica Neue", "Helvetica", Helvetica, sans-serif !important;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../images/pattern.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.container{
  width: 1000px;
  margin: 0 auto;
  color: #ffffff;
  -webkit-animation-delay: 1s
}

/* Header */
.header {
  padding: 61px 0 170px 0;
  overflow: hidden;
}

.logo{
  color: #e6e6e6;
  float: left;
  -webkit-animation-delay: 0.3s;
}


ul.social{
  float: right;
  -webkit-animation-delay: 0.3s
}
  ul.social li{
    float: left;
    padding: 0 0 0 30px;


  }
    ul.social li a{
      color: #ffffff;
      font-size: 14px;
      line-height: 16px;
      display: block;
      position: relative;
      text-decoration: none;
    }

    ul.social li a:hover {
      color: #fff;
    }

    ul.social li a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      top: 20px;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      /*padding-bottom: 2px;*/
    }

    ul.social li a:hover::before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }


/* Page */
.page {
  margin: 0;
  padding: 0 200px 0 0;
}

  .greeting {
    font-size: 20px;
    color: #808080;
    display: block;
    padding: 0 0 15px 0;
    -webkit-animation-delay: 0.8s;
  }

  .heading {
    font-size: 48px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    line-height: 60px;
    padding: 0 0 30px 0;
    -webkit-animation-delay: 1.2s;
  }

  .about {
    font-size: 20px;
    letter-spacing: 0.3px;
    font-weight: 300;
    line-height: 30px;
    padding: 0 0 30px 0;
    color: #e6e6e6;
    -webkit-animation-delay: 1.6s;
  }

  .clients {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.24px;
    color: #808080;
    -webkit-animation-delay: 2s;

  }
.page .clients a:hover, a:visited {
  text-decoration: underline;
  color: inherit;


}

@media only screen and (min-width: 0px) and (max-width: 999px) {

  .container {
    width: 100%;
    margin: 0;
  }

  .header {
    padding: 60px;
  }

  .heading {
    font-size: 36px;
  }
  .page {
    padding: 0 60px 60px 60px;
  }

}
